**/__pycache__
**/node_modules
Cache
**/botOld
databases
runTests.py
runPython.py
**notes
**uploads
run
**.env
**/itens/**
**character.db
api/public/itens/**
api/public/players/**
api/public/npc/**
**/character.db
Igella.png
