*{
    padding: 0;
    margin: 0;
}

body{
    height: 100dvh;
    width: 100dvw;
    background-color: aliceblue;
    display: flex;
    position: relative;
}

#charactersMenu{
    background: #000;
    min-width: 250px;
    width: 20%;
    max-width: 500px;
    height: 100dvh;
    position: absolute;
    left: 0;
    translate: -92%;
    transition: 2s;
}

.listTitle{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    font-size: 22px;
    margin-top: 15px;
}

#charactersList{
    width: 100%;
    height: fit-content;
    margin-top: 25px;
    margin-left: 10%;
    list-style: none;
}


.characterName{
    padding: 5px 10px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    width: fit-content;
    margin-block: 10px;
    height: 100%;
    background-color: #000;
    border: 0;
} .characterName:hover{
    text-decoration: underline;
}

#characterMenuControl{
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: 0;
    right: 0;
    top: 0;
    z-index: 2;
    height: 100%;
}

#characterInfos{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    right: 0;
    height: 100dvh;
    min-width: 250px;
    width: 20%;
    max-width: 500px;
    z-index: 2;
    background-color: #000;
}

#imgContainer{
    margin-top: 10%;
    width: 150px;
    height: 150px;
    background-color: #fff;
}

#characterImg{
   width: 100%;
   height: 100%;
}

#characterStatus{
    display: inline-flex;
    margin-top: 0;
    height: 50%;
    min-width: 250px;
    width: 90%;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    flex-wrap: wrap;
    align-content: start;
}

#characterName{
    text-align: center;    
    width: 100%;
    height: 30px;
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: Arial;
}

#statusBars{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.statusBar{
    width: 80%;
    height: 15px;
    margin-top: 10px;
    background-color: gray;
    border-radius: 25px;
    position: relative;
    display: flex;
}

#hpValues, #manaValues, #xpValues{
    width: 100%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2;
}

.barFill{
    border-radius: 25px;
    justify-self: left; 
    height: 100%;
    position: absolute;
}

#manaValues{
    color: black;
}

#xpValues{
    color: black;
}

#restMana{
    width: 70%;
    background-color: lightblue;
}
#restHp{
    width: 49%;
    background-color: red;
}

#totalXp{
    width: 50%;
    background-color: yellowgreen;
}

.stts{
    color: #fff;
    margin-top: 10px;
    display: flex;
    width: 80%;
    justify-content: space-between;
}

#attributes{
    height: fit-content;
    margin-top: 15px;
    padding-left: 10px;
    width: 100%;
    color: #fff;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
} #attributes > li{
    font-size: 18px;
    display: flex;
    align-content: center;
    padding-inline: 15px;
    width: 100%;
    margin-top: 10px;
    justify-content: space-between;
}

.attrValue{
    font-size: 16px;
    margin-left: 5px;
    padding: 3px 5px;
    background-color: #444;
    border-radius: 5px;
    min-width: 75px;
    width: 10%;
    text-align: center;
    max-width: 100px;
    translate: 0 -1px;
}

#characterOptions{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 50px;
    left: -40px;
}

.optionButton{
    width: 50px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    border: 3px;
    border-style: double;
    background-color: rgb(86, 40, 40);
    border-color: rgb(56, 29, 29);
    margin-block: 5px;
}
.optionButton > button{
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: 0;
    width: 100%;
    height: 100%;
}